<!DOCTYPE html>
<html>
    <head>
        <link rel="Stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
        {{>header}}        
        <p>Real-Time Weather Forecast provides you accurate weather information instantly no matter where you are.</p>
        </div>
        {{>footer}}
    </body>
</html>     